<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{signup.title})}">Signup</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <!-- Default form register -->
      <form class="border border-light p-5" th:action="@{/signup}" method="post">

        <p class="h4 mb-4" th:text="#{signup.header}">Sign up</p>

        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label th:text="#{signup.firstname}">First name</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group col-12 col-md-6">
            <label th:text="#{signup.lastname}">Last name</label>
            <input type="text" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label th:text="#{signup.email}">Email</label>
          <input type="email" id="defaultRegisterFormEmail" class="form-control"/>
        </div>

        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label th:text="#{signup.password}">Password</label>
            <input type="password" class="form-control"/>
          </div>
          <div class="form-group col-12 col-md-6">
            <label th:text="#{signup.confirmpassword}">Confirm password</label>
            <input type="password" class="form-control"/>
          </div>
        </div>

        <!-- Sign up button -->
        <button class="btn btn-info btn-sm ml-0" type="submit">
          <i class="fas fa-plus"></i>
          <span th:text="#{btn.signup}">Signup</span>
        </button>

        <hr/>

        <div th:utext="#{signup.alreadymember(@{/login})}"></div>

      </form>
      <!-- Default form register -->
    </div>
  </body>
</html>
