<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Test form 1</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div>Test form 1</div>
    <form th:action="@{/testForm1}" method="post" th:object="${person}">
      <input type="text" th:field="*{firstName}"/>
      <input type="text" th:field="*{lastName}"/>
      <input type="number" th:field="*{age}"/>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
