<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Test form 1</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div>Test form 1</div>
    <form th:action="@{/submitForm}" method="get">
      <input type="text" name="firstName" maxlength="10"
             placeholder="First name" required="required"/>
      <input type="text" name="lastName" maxlength="10" autofocus="autofocus"
             placeholder="Last name" required="required"/>
      <input type="number" min="1" max="10" step="2" name="randomNumber"/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
