<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{stories.title})}">Stories</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div th:replace="fragments/messages :: #notify"></div>

      <div class="row">
        <div class="col-12 col-lg-9">
          <div class="d-flex align-items-center">
            <h2 class="mr-auto mb-0" th:text="#{stories.header}">Stories</h2>
            <a href="#" th:href="@{/story/create}" sec:authorize="isAuthenticated()"
               class="btn btn-outline-success btn-md mr-0">
              <i class="fas fa-plus"></i>
              <span th:text="#{stories.create}">Add story</span>
            </a>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>
