<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div>Home</div>

    <p th:if="${age lt 12}">I am under 12</p>
    <p th:if="${age ge 12 and age lt 18}">I am above 12 and below 18 years</p>
    <p th:if="${age ge 18}">I am mature</p>

    <div th:if="${age ge 12 and age lt 18}" th:remove="tag">
      <p>Hello</p>
      <p>I am above 12</p>
    </div>
  </body>
</html>
