<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{home.title})}">Home</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div th:replace="fragments/messages :: #notify"></div>

      <div th:text="#{nav.home}">Home</div>
      <a href="#" th:href="@{/testForm1}">Test form</a>
    </div>
  </body>
</html>
